@(reportJson :com.fasterxml.jackson.databind.JsonNode)

<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" type="text/css" href="/assets/js/toastr/toastr.css">
<link rel="stylesheet" type="text/css" href="/assets/js/DataTables/datatables.min.css"/>
<script type='text/javascript' src="/assets/js/jquery-3.3.1.js"></script>
<script type='text/javascript' src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/toastr/toastr.min.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>
<script type="text/javascript" src="/assets/js/index.js"></script> 
<script type="text/javascript" src="/assets/js/DataTables/datatables.min.js"></script>

<script type="text/javascript">
	var homeUrl="@com.rage.controllers.routes.WebsiteTrafficController.home"
	var data=@Html(reportJson.toString());
	var contactUrl="@com.rage.controllers.routes.WebsiteTrafficController.contactInfo"
</script>
</head>

<body>
<div class="container-fluid">
    <div class="row">			
				<div class="panel-group">
					<div class="panel panel-success">
						<div class="panel-heading">Site Traffic Report
							<span class="my-upload"><a href="@com.rage.controllers.routes.WebsiteController.uploadCsv" data-toggle="tooltip" data-placement="bottom"  title="Upload a new csv file!">
	       								<span class="glyphicon glyphicon-upload btn btn-primary btn-xs"></span>
	  		 								</a></span>	</div>								
					</div>
		</div>
    </div>
</div>    
	<!-- container end -->

						<div class="site-container report">
							<div class="row">
								<div class="panel-group">
									<div class="panel panel-success">
										<div class="panel-heading">Site Traffic Report
											<span class="my-upload"><a href="@com.rage.controllers.routes.WebsiteController.uploadCsv" data-toggle="tooltip" title="Upload a new csv file!">
		          								<span class="glyphicon glyphicon-upload"></span>
       		 								</a></span>
       		 								@if(reportJson!=null){
	       		 								@if(reportJson.has(0) && reportJson.get(0)!=null && reportJson.get(0).has("csvId") && reportJson.get(0).get("csvId")!=null){
	       		 								<span class="my-upload"><a href="/report/@reportJson.get(0).get("csvId").asText()" download data-toggle="tooltip" title="Download report file!">
			          								<span class="glyphicon glyphicon-download-alt"></span>
	       		 								</a></span>
	       		 								}
       		 								}
										</div>
										
									</div>
								</div>
							</div>
						</div>
							<table id="report_table_id" class="table table-striped table-hover table-responsive report_cls">
								<thead>
									<tr>
										<th>SITE URL</th>
										<th>FACEBOOK FOLLOWERS</th>
										<th>TWITTER FOLLOWERS</th>
										<th>FACEBOOK URL</th>
										<th>TWITTER URL</th>
										
											@if(reportJson!=null){
											@if(reportJson.has(0) && reportJson.get(0).has("providerReport") && reportJson.get(0).get("providerReport")!=null){
												@for((provReport,index)<-reportJson.get(0).get("providerReport").elements.zipWithIndex){
													@if(provReport!=null && provReport.has("siteName") && !provReport.get("siteName").asText().equals("")){
													<th class="text-uppercase">@provReport.get("siteName").asText()</th>
													}
												}
											}
										}
										
										<th>DAILY UNIQUE VISITORS</th>
										<th>DAILY REVENUE (FROM_ADS)</th>
										<th>DAILY UNIQUE PAGEVIEWS</th>
										<th>MONTHLY UNIQUE VISITORS</th>
										<th>MONTHLY REVENUE (FROM ADS)</th>
										<th>MONTHLY UNIQUE PAGEVIEWS</th>
										<th>YEARLY UNIQUE VISITORS</th>
										<th>YEARLY REVENUE (FROM ADS)</th>
										<th>YEARLY UNIQUE PAGEVIEWS</th>
										
									
									</tr>
								</thead>

								@if(reportJson!=null){
								@for((report,index)<-reportJson.elements.zipWithIndex){
									<tr>
										@if(report.has("siteUrl")){
											<td><a onclick="editContact(@report.get("id").asLong())" class="a-pointer"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp; @report.get("siteUrl").asText() </td> 
										}else{
											<td></td> 
										} 
										@if(report.has("fbFollowers")){
											<td align="center">@report.get("fbFollowers").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("twitterFollowers")){
											<td align="center">@report.get("twitterFollowers").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("fbUrl")){
											<td><a href="@report.get("fbUrl").asText()"><img src="/assets/images/Fb.png" class="icon-traffic"/></a></td> 
										}else{
											<td></td> 
										} 
										@if(report.has("twitterUrl")){
											<td><a href="@report.get("twitterUrl").asText()"><img src="/assets/images/Twitter.png" class="icon-traffic"/></a></td> 
										}else{
											<td></td> 
										} 
										
										@if(report.has("providerReport") && report.get("providerReport")!=null){
											@for((provReport,index)<-report.get("providerReport").elements.zipWithIndex){
												@if(provReport!=null && provReport.has("siteName") && !provReport.get("siteName").asText().equals("") && provReport.has("trafficCount")){
												<td>
													<div class="row">
														<div class="col-lg-12">
															<span>@provReport.get("trafficCount").asText()</span>
														</div>
													</div>
												</td> 
												}else{
													<td>
														<p></p> 
													</td>
												}
											 }
										}
										
										
										
										@if(report.has("dailyUniqueVisitors")){
											<td align="center">@report.get("dailyUniqueVisitors").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("dailyRevenue")){
											<td align="center">@report.get("dailyRevenue").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("dailyUniquePageviews")){
											<td align="center">@report.get("dailyUniquePageviews").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("monthlyUniqueVisitors")){
											<td align="center">@report.get("monthlyUniqueVisitors").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("monthlyRevenue")){
											<td align="center">@report.get("monthlyRevenue").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("monthlyUniquePageviews")){
											<td align="center">@report.get("monthlyUniquePageviews").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("yearlyUniqueVisitors")){
											<td align="center">@report.get("yearlyUniqueVisitors").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("yearlyRevenue")){
											<td align="center">@report.get("yearlyRevenue").asText()</td> 
										}else{
											<td></td> 
										} 
										@if(report.has("yearlyUniquePageviews")){
											<td align="center">@report.get("yearlyUniquePageviews").asText()</td> 
										}else{
											<td></td> 
										} 
										
									</tr>
								} 
							}
						</table>
					@*</div>
				</div>
			</div>
		</div>
	</div>
	</div>*@
	
	
	<div id="contactModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">	
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Communication Details</h4>
	      </div>
	      <div class="modal-body">
	      	<form id="form" action="#" >
	        	<div class="form-group row">
  					<label class="col-lg-4 control-label "><div>Phone No: </div></label>								
		 			<div class="col-lg-8 "><input type="text" class="form-control" name="phone" id="phone" value=""></div>
				</div>
				<div class="form-group row">
  					<label class="col-lg-4 control-label "><div>Email ID: </div></label>								
		 			<div class="col-lg-8 "><input type="text" class="form-control" name="email" id="email" value=""></div>
				</div>
				<div class="form-group row">
					<label class="col-lg-12 control-label "><div><span class="error-msg">Please fill atleast one field </span></div></label>
				</div>
			</form>
	      </div>
	      <div class="modal-footer">
	      	<a href="#" class="btn btn-primary" onclick="saveContact()">Save</a>
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	
	  </div>
  </div>
	
	<div class="footer">
		<p>&copy; 2018 - 2019 Rage Communications P. Ltd.</p>
	</div>
</body>
</html>
