@(csvJson : com.fasterxml.jackson.databind.JsonNode,reportJson :
com.fasterxml.jackson.databind.JsonNode)

<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/custom.css">
<link rel="stylesheet" type="text/css" href="/assets/js/toastr/toastr.css">
<script type='text/javascript' src="/assets/js/jquery-3.3.1.js"></script>
<script type='text/javascript' src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/toastr/toastr.min.js"></script>
<script type="text/javascript">
  toastr.options = {
    	  "closeButton": true,
    	  "debug": false,
    	  "newestOnTop": true,
    	  "progressBar": true,
    	  "positionClass": "toast-top-center",
    	  "preventDuplicates": false,
    	  "onclick": null,
    	  "showDuration": "300",
    	  "hideDuration": "1000",
    	  "timeOut": "5000",
    	  "extendedTimeOut": "1000",
    	  "showEasing": "swing",
    	  "hideEasing": "linear",
    	  "showMethod": "fadeIn",
    	  "hideMethod": "fadeOut"
    	}
  
var homeUrl="@com.rage.controllers.routes.WebsiteTrafficController.home"
$(function(){
	@if(flash.get("success") !=null ) {
		toastr["success"]('@flash.get("success")');
	}
	@if(flash.get("error") !=null ) {
		toastr["error"]('@flash.get("error")');
		window.location.href=homeUrl;
	}
});
</script>
</head>

<body>
	<!-- Header -->
	<div class="container">
		<div class="jumbotron">
			<div class=row>
				<center>
					<table class="">
						<tr>
							<td><img src="/assets/images/traffic-light.png"
								class="icon-traffic" /></td>
							<td><h2 style="padding-left: 12px;">WebSite Traffic
									Finder</h2></td>
						</tr>
					</table>
				</center>

			</div>
			<center></center>
		</div>
	</div>
	<!-- container end -->

	<!-- Upload file -->
	<div class="site-container report">

		
		<hr>		
		
		<!-- site  traffic report-->
		<div class="row">
			<div class="panel-group">
				<div class="panel panel-success">
					<div class="panel-heading">Site Traffic Report</div>
					<div class="panel-body">
						<div class="panel panel-success my-y-scroll2">
							<table class="table table-hover table-responsive ">
								<thead>
									<tr>
										<th>SITE URL</th>
										<th>FOLLOWERS COUNT</th>
<!-- 										<th>FACEBOOK URL</th> -->
										<th>SEARCH REPORT</th>
									</tr>
								</thead>

								@if(reportJson!=null){
								@for((report,index)<-reportJson.elements.zipWithIndex){
								<tbody> 
								
									<tr>
										@if(report.has("siteUrl")){
											<td>
											<span class="glyphicons glyphicons-globe"></span>
											<a href="@report.get("siteUrl").asText()">@report.get("siteUrl").asText()</a>
											</td> 
										}else{
											<td></td> 
										} 
										
								 
										@if(report.has("fbFollowers") & report.has("twitterFollowers")){
										
											<td align="center">
											@if(report.has("fbUrl")){
											<div class="row">
											<div class="col-lg-2">
											<a href="@report.get("fbUrl").asText()"><img src="/assets/images/Fb.png" class="icon-traffic"/></a>
											</div>
											<div class="col-lg-2">
											<span class="btn btn-primary">@report.get("fbFollowers").asText()</span>
											</div>
											</div>
											}
											
											</br>
											
											@if(report.has("twitterUrl")){
											<div class="row">
											<div class="col-lg-2">
											<a href="@report.get("twitterUrl").asText()"><img src="/assets/images/Twitter.png" class="icon-traffic"/></a>
											</div>
											<div class="col-lg-2">
											<span class="btn btn-primary">@report.get("twitterFollowers").asText()</span>
											</div>
											</div>
											}
											</td> 
										}else{
											<td></td> 
										} 
											
											
<!-- 										@if(report.has("fbUrl")){ -->
<!-- 											<td>@report.get("fbUrl").asText()</td>  -->
<!-- 										}else{ -->
<!-- 											<td></td>  -->
<!-- 										}  -->
										
										@if(report.has("providerReport") && report.get("providerReport")!=null){
										<td>
											@for((provReport,index)<-report.get("providerReport").elements.zipWithIndex){
												@if(provReport!=null && provReport.has("siteName") && !provReport.get("siteName").asText().equals("") && provReport.has("trafficCount")){
													
													<div class="row">
													
													<div class="col-lg-4">
													<p>@provReport.get("siteName").asText()</p>
													</div>
													<div class="col-lg-1">
													<p>:</p>
													</div>
													<div class="col-lg-4">
													<p><span class="btn btn-success">@provReport.get("trafficCount").asText()</span></p> 
													</div>
													
													</div>
													 
												}else{
													<p></p> 
												}
											 }
										</td> 
										}
									</tr>
								</tbody>
								} 
							}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- site traffic files -->
		<div class="row">

			<hr>

			<!-- list the uploaded files -->

			<div class="panel-group">
				<div class="panel panel-success">
					<div class="panel-heading">Uploaded Site Traffic Files</div>
					<div class="panel-body">
						<div class="panel panel-success">
						<div class="row">
					
						<div class="col-lg-6">
							<br>
		<form class="dropzone" action="@com.rage.controllers.routes.WebsiteController.addWebsites()" method="post" enctype="multipart/form-data">
       	@helper.CSRF.formField
       	<div class="upload-container">
       	<input class="btn btn-info btn-sm" type="file" name="csvFile">
       	</div>
       	<br>
      <button class="btn btn-primary" type="submit">Upload Document</button>
   	</form>
						</div>
						
						<div class="col-lg-6">
						<div class="panel panel-success my-y-scroll1">
							<table class="table table-hover table-responsive">
								<thead>
									<tr>
										<th>CSV Files</th>
										<th>Action</th>
									</tr>
								</thead>

								@if(csvJson!=null && csvJson.has(0)){
								@for((csv,index)<-csvJson.elements().zipWithIndex){
								<tr>
									<td><a href="/website/traffic/@csv.get("id").asText()" >@csv.get("fileName").asText()</a></td>
									<td><a href=""><img src="/assets/images/delete.png"
											class="icon-traffic" /></a></td>
								</tr>
								} }
							</table>
							</div>
							</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>


		</div>	

	</div>
	
	
	

	<div class="footer">
		<p>&copy; 1996 - 2016 Rage Communications P. Ltd.</p>
	</div>
</body>
</html>
