.left{
	padding-left: 130px;
}
.right{
	padding-right: 125px;
}
.bottom{
	padding-left: 130px;
	padding-right: 125px;
}
.icon-traffic{
	width: 20px;
}
.report{
	padding-right: 118px;
	padding-left: 118px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
.my-y-scroll1{
	height:150px;
  	overflow-y: scroll;
}
.my-y-scroll2{
	height:300px;
  	overflow-y: scroll;
}